*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #140C74;
  --white: #FFFFFF;
  --black: #000000;
  --grey-1: #666D80;
}

h1, h2, h3, h4, h5, h6,
p, a, li, small, strong, span {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
  color: var(--white);
}

h1 {
  font-size: 32px;
}

p, a {
  font-size: 16px;
}

span {
  font-size: 16px;
  color: var(--black);
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  background-color: var(--white);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
}

.rights a, .rights p {
  color: var(--grey-1);
}

@media screen and (max-width: 1000px) {
  * {
    box-sizing: initial;
  }

  h1 {
    font-size: 16px;
  }

  p, a {
    font-size: 14px;
    font-weight: 400;
  }
}